.cover__link {
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 740px;
  aspect-ratio: 1.6;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}
