/* даже на широких экранах весь фон - тёмный */
.page {
  /* background-color: #2A2C2F; */
  background-color: #2A2C2F;;
}
/*чтобы не делать стилизацию body*/
.page__container {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 24px;
  background-color: #2A2C2F;
  color: #FFFFFF;
  font-family: 'Inter', 'Arial', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;

}

.content__section {
  outline: 1px solid red;
}

/* HEADER */
.header {
  padding: 0 48px;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  width: 176px;
  height: 52px;
}
.logo__links {
  align-self: end;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 1.17;
  text-align: right;
  padding-bottom: 6px;
}
.logo__lang-link {
  align-self: end;
  color: inherit;
  margin-right: 18px;
  text-decoration: none;
  text-align: right;
}
.logo__lang-link:last-of-type {
  margin-right: 0;
}
.logo__lang-link:hover {
  text-decoration: underline;
}
.logo__lang-link:active {
  text-decoration: underline;
}
.logo__lang-link:visited {
  text-decoration: underline;
}

/* LEAD */
.lead {
  padding: 56px 148px 0;
}
.lead__title {
  margin: 0 auto;
  max-width: 720px;
  text-align: center;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
}
.lead__subtitle {
  margin: 0 auto;
  text-align: center;
  max-width: 640px;
  font-size: 30px;
  line-height: 1.2;
  padding-top: 32px;
}
.lead__image {
  padding-top: 64px;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}
.lead__caption {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4x;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding-top: 8px;
}
/* INTRO */
.intro {
  padding-top: 92px;
  padding-left: 148px;
}
.intro__title {
  margin: 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  margin-bottom: 40px;
}
.intro__text {
  margin: 0;
  max-width: 690px;
  margin-bottom: 33px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
}
.intro__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.intro__list-item {
  font-size: 12px;
  line-height: 1.5;
}
.intro__item-name {
  font-weight: 700;
}
/* PHOTO_GRID */
.photo-grid {
  margin: 0;
  padding: 92px 48px 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); /*определить px*/
  gap: 16px;
}
.photo_grid__item {
  line-height: 0;

}
.photo_grid__photo {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

/* PLACES */
.places-list {
  margin: 0;
  padding: 92px 148px 0;;
  list-style: none;
}
.places-list__place {
  margin-bottom: 80px;
}
.places-list__place:last-of-type {
  margin-bottom: 0;
}
.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-gap: 48px 40px;
}
.place__title {
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
}
.place__website {
  align-self: end;
}
.place__url-heading {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  margin-bottom: 12px;
  color:#AAAAAA;
}
.place__link {
  font-size: 18px;
  line-height: 1.22;
  text-decoration: underline;
  color: inherit;
}
.place__link:hover {
  opacity: 0.8;
}
.place__image {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}
.place__desc {
  font-size: 18px;
  line-height: 1.63;
}
.place__desc-paragraph {
  margin: 0;
  margin-bottom: 26px;
}
.place__desc-paragraph:last-of-type {
  margin-bottom: 0;
}

/* COVER */
.cover {
  position: relative;
  padding: 92px 48px 0;
}

.cover__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: calc(100% - 92px);
  opacity: 0.3;
  background-color: #2A2C2F;
}
.cover__overlay:hover {
  opacity: 0.8;
}
.cover__link {
  background-image: url(./images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 740px;
  aspect-ratio: 1.6;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}
.cover__title {
  margin: 0;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  z-index: 1;
}

.cover__subtitle {
  margin: 0;
  padding-top: 32px;
  max-width: 360px;
  font-size: 18px;
  line-height: 1.22;
  z-index: 1;

}

/* FOOTER */
.footer {
  padding: 92px 48px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 18px;
  color: #FFFFFF;
}
.footer__link-item {
  font-size: 16px;
  line-height: 1.12;

}
.footer__link {
  color: inherit;
  text-decoration: none;
}
.footer__link:hover {
  opacity: 0.8;
}
.footer__copyright {
  margin: 0;
  font-size: 14px;
  line-height: 1.14;
  text-align: start;
}

@media (max-width: 1200px) {
  .lead {
    padding: 48px 48px 0;
  }
  .lead__image {
    padding-top: 56px;
  }
  .intro {
    padding-left: 48px;
  }
  .photo-grid {
    gap: 14px;
  }
  .places-list {
    padding: 92px 48px 0;
  }
  .place {
    grid-template-columns: 440px 1fr;
    column-gap: 32px;
  }
  .place__desc-paragraph {
    margin-bottom: 27px;
  }
  .cover {
    padding-left: 0;
    padding-right: 0;
  }

}
@media (max-width: 992px) {
  .header {
    padding: 0 24px;
  }
  .footer {
    padding: 88px 24px 0;
  }
  .footer__links {
    flex-wrap: wrap;
  }
  .lead {
    padding: 48px 0 0;
  }
  .lead__caption {
    padding-left: 24px;
  }
  .intro {
    padding: 88px 24px 0;
  }
  .intro__text {
    max-width: 100%;
  }
  .photo-grid {
    padding: 88px 24px 0;
    gap: 16px;
  }
  .place__title {
    font-size: 42px;
    line-height: 1.1;
  }
  .place__url-heading {
    line-height: 1;
  }
  .place__desc-paragraph {
    font-size: 16px;
  }
  .place__desc-paragraph {
    margin-bottom: 25px;
  }
  .places-list {
    padding: 88px 24px 0;
  }
  .place {
    grid-template-columns: 340px 1fr;
    column-gap: 28px;
  }
  .places-list__place {
    margin-bottom: 73px;
  }
  .cover {
    padding-top: 90px;
  }
  .cover__overlay {
    height: calc(100% - 90px);
  }
}

@media (max-width: 760px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__copyright {
    padding-top: 48px;
    text-align: left;
    line-height: 1;
  }
  .lead__title {
    font-size: 40px;
    line-height: 1.1;
  }
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
  }
  .lead__subtitle {
    max-width: 288px;
  }
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }
  .place__title {
    font-size: 32px;
    line-height: 1.09;
  }
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
  }
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
  }
  .lead__image {
    padding-top: 40px;
  }
}

@media (max-width: 660px) {
  .place {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .places-list__place {
    margin-bottom: 50px;
  }
}

@media (max-width: 425px) {
  .page__container {
    padding-top: 16px;
    padding-bottom: 24px;
  }
  .header {
    padding: 0 16px;
  }
  .header__logo {
    width: 142px;
    height: 42px;
  }
  .lead {
    padding: 48px 0 0;
  }
  .lead__title {
    max-width: 100%;
  }
  .lead__subtitle {
    padding-top: 16px;
    max-width: 100%;
  }
  .lead__caption {
    padding-left: 16px;
  }
  .logo__links {
    font-size: 18px;
    line-height: 1.11;
  }
  .footer {
    padding: 64px 16px 0;
  }
  .footer__links {
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
  .footer__link-item {
    font-size: 24px;
    line-height: 1;
  }
  .cover__subtitle {
    padding-top: 16px;
}
  .intro {
    padding: 64px 16px 0;
  }
  .photo-grid {
    padding: 64px 16px 0;
    gap: 12px;
  }
  .cover {
    padding-top: 64px;
  }
  .cover__overlay {
    height: calc(100% - 64px);
  }
  .places-list {
    padding: 64px 0 0;
  }
  .place__title {
    padding-left: 16px;
  }
  .place__website {
    padding-left: 16px;
  }
  .place__desc-paragraph {
    padding-left: 16px;
    padding-right: 16px;
  }


}
@media (max-width: 375px) {
  .intro__title {
    max-width: 250px;
  }
}
