.cover__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: calc(100% - 92px);
  opacity: 0.3;
  background-color: #2A2C2F;
}

.cover__overlay:hover {
  opacity: 0.8;
}

@media (max-width: 992px) {
  .cover__overlay {
    height: calc(100% - 90px);
  }
}

@media (max-width: 425px) {
  .cover__overlay {
    height: calc(100% - 64px);
  }
}
