.footer {
  padding: 92px 48px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 992px) {
  .footer {
    padding: 88px 24px 0;
  }
}

@media (max-width: 760px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 425px) {
  .footer {
    padding: 64px 16px 0;
  }
}
